# Python
__pycache__/
*.pyc
*.pyo
.env
venv/

# Конфиг с токенами — только локально, не коммитить!
config.py

# БД с верифицированными юзерами — только локально!
db.json

# Логи
bot.log
bot_error.log
